<div class="site-section bg-light" id="aplicativo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Aplicativo Disponível</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-5 ml-auto pl-lg-5">
          <h2 class="text-black mb-4 h3 font-weight-bold">Faça o seu cadastro!</h2>
          <p class="mb-4">Antes de baixar o aplicativo, é necessário que você já tenha feito o seu cadastro.</p>
          <p><a href="https://vas-cripto.com/in/kww2lU77PqSD" target="_blank" class="btn btn-dark">Cadastre-se</a></p>
          <br /><br />
          <h3 class="text-black mb-4 h3 font-weight-bold">Baixe o aplicativo!</h3>
          <p>
            <a href="https://apps.apple.com/br/app/v-a-s/id6703506537" target="_blank" class="text-dark">
              <img src="/assets/images/app-store.png" alt="Icone da App Store">
              <span class="ml-3"><b>App Store</b></span>
            </a>
          </p>
          <p>
            <a href="https://play.google.com/store/apps/details?id=com.vastecnology.vasapp&hl=pt_BR" target="_blank" class="text-dark">
              <img src="/assets/images/google-play.png" alt="Icone da Google Play">
              <span class="ml-3"><b>Google Play</b></span>
            </a>
          </p>
        </div>
        <div class="col-lg-6" data-aos="fade-right">
          <img src="/assets/images/vas-cripto-app.png" alt="Imagem de um celular com o aplicativo do vas-cripto" class="img-fluid">
        </div>
      </div>

      
    </div>
</div>