<div class="site-section testimonial-wrap" id="testimonials-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Depoimentos</h2>
          <p>Confira alguns depoimentos obtidos das lojas de aplicativos mostrando a satisfação das pessoas com a V.A.S</p>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="row">
            <div class="col-6 mb-5 mx-auto">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="/assets/images/depoimento-1.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-6 mb-5 mx-auto">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="/assets/images/depoimento-2.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-6 mb-5 mx-auto">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="/assets/images/depoimento-3.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-6 mb-5 mx-auto">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="/assets/images/depoimento-4.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-6 mb-5 mx-auto">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="/assets/images/depoimento-5.png" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
              </figure>
            </div>
          </div>
        </div>
      </div>
</div>