<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-6 col-md-3 col-xl-4  d-block">
          <h1 class="mb-0 site-logo">
            <a href="{{ site.baseurl }}" class="text-black h2 mb-0">
              <img src="/assets/images/vas-logo.png" alt="Logo VAS Cripto">
            </a>
          </h1>
        </div>

        <div class="col-12 col-md-9 col-xl-8 main-menu">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
              <li><a href="#inicio" class="nav-link">Início</a></li>
              <li class="has-children">
                <a href="#sobre" class="nav-link">Sobre</a>
                <ul class="dropdown arrow-top">
                  <li><a href="#quem-e-lauri-vargas" class="nav-link"><span class="text-dark">Quem é Lauri Vargas?</span></a></li>
                  <li><a href="#aplicativo" class="nav-link"><span class="text-dark">Aplicativo</span></a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#investimento" class="nav-link">Investimento</a>
                <ul class="dropdown arrow-top">
                  <li><a href="#planos-de-investimento" class="nav-link"><span class="text-dark">Planos</span></a></li>
                  <li><a href="#indique-e-ganhe" class="nav-link"><span class="text-dark">Indicação</span></a></li>
                  <li><a href="#regras-de-saque" class="nav-link"><span class="text-dark">Saque</span></a></li>
                </ul>
              </li>
              <li><a href="#perguntas-frequentes" class="nav-link">Perguntas</a></li>
              <li>
                <a href="https://vas-cripto.com/in/kww2lU77PqSD" 
                target="_blank" 
                class="btn btn-dark text-white ml-3"
                style="padding: 10px 30px;">
                  Cadastro
                </a>
              </li>
            </ul>
          </nav>
        </div>


        <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>
    
</header>