<div class="site-section bg-light" id="indique-e-ganhe">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Indique e Ganhe</h2>
          <p>
            Ao se registrar na VAS Cripto, você terá acesso a um link exclusivo de afiliado. Com ele, será possível recomendar a plataforma para seus amigos e conhecidos, garantindo a oportunidade de receber comissões atrativas por cada indicação bem-sucedida.
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6" data-aos="fade-right">
          <table class="table table-bordered table-custom table-striped text-center">
            <thead>
              <tr>
                <th>Nível</th>
                <th>Porcentagem de Lucro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>2</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>3</td>
                <td>4%</td>
              </tr>
              <tr>
                <td>4</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>5</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>6</td>
                <td>2%</td>
              </tr>
              <tr>
                <td>7</td>
                <td>2%</td>
              </tr>
              <tr>
                <td>8</td>
                <td>2%</td>
              </tr>
              <tr>
                <td>9</td>
                <td>1%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-5 ml-auto pl-lg-5">
          <p class="mb-4">
            Quando você convida alguém para a VAS Cripto, você ganha 10% do valor que essa pessoa investir. Esse é chamado de primeiro nível de indicação.
          </p>
          <p class="mb-4">
            Se a pessoa que você convidou também indicar outra pessoa, você recebe 5% do valor que essa nova pessoa investir. Isso é o segundo nível de indicação.
          </p>
          <p class="mb-4">
            Ao todo, o sistema de indicações tem 9 níveis, permitindo que você ganhe comissões de diversas pessoas, mesmo que não as tenha convidado diretamente.
          </p>
          <p class="mb-4">
            <b>Exemplo:</b> Se você convida um amigo e ele investe R$ 500, você ganha 10% desse valor, ou seja, R$ 50. Agora, se esse amigo convida outra pessoa, e ela investe R$ 500, você ganha 5% desse novo investimento, ou seja, R$ 25. Assim, suas comissões podem crescer conforme a rede de indicações aumenta!
          </p>
          <p class="mb-4">
            Confira ao lado a tabela de porcentagem de ganhos por cada nível de indicação.
          </p>
        </div>
      </div>

      
    </div>
</div>