<div class="site-section bg-light" id="perguntas-frequentes">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-right">
          <img src="/assets/images/perguntas-frequentes.svg" alt="Imagem de pessoas com ponto de interrogação" class="img-fluid">
        </div>
        
        <div class="col-lg-6 ml-auto pl-lg-5">
          <h2 class="font-weight-bold text-black mb-5">Perguntas Frequentes</h2>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Qual o valor mínimo para começar a investir?</a>
              </h2>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Na V.A.S, você encontra planos de investimento acessíveis, com valores a partir de R$ 200,00. Todos os planos têm uma duração fixa de 40 dias, oferecendo uma oportunidade única de dobrar o valor inicialmente investido. Com essa estrutura, você pode aproveitar uma excelente relação custo-benefício e alcançar seus objetivos financeiros com segurança e praticidade. Experimente e veja seu capital crescer rapidamente!</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Como é calculado o rendimento de plano?</a>
              </h2>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>O rendimento do plano é calculado diarimente com base no valor investido, proporcionando um retorno de 100% sobre o valor aplicado ao longo de 40 dias corridos. O pagamento ocorre 4 vezes em um intervalo de 10 dias.</p>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Quais as formas de pagamento disponíveis?
                </a>
              </h2>
             
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Se você é membro residente no Brasil, poderá realizar seus investimentos e saques de forma rápida, 
                    prática e segura utilizando o PIX, essa opção garante agilidade e facilidade em todas as suas transações, proporcionando uma experiência financeira eficiente.
                  </p>
                  <p>
                    Já para os investidores que residem no exterior, oferecemos a possibilidade de realizar seus investimentos e saques por meio de USDT (Tether), 
                    uma das criptomoedas mais estáveis do mercado, utilizando a rede BEP20. Essa alternativa permite transações internacionais ágeis, seguras e com taxas reduzidas, 
                    garantindo acessibilidade e comodidade para nossos membros globais.
                  </p>
                  <p>
                    Caso você seja residente no Brasil e quer ter acesso aos meios de pagamento por meio de USDT, é necessário entrar em contato com o suporte da VAS.
                  </p>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Em quantos planos posso aderir ao mesmo tempo?
                </a>
              </h2>
              
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Não há qualquer limitação em relação à quantidade de planos que podem ser adquiridos, permitindo que você escolha e combine quantos desejar. Dessa forma, você pode diversificar suas aplicações, aumentar o potencial de retorno e adaptar sua estratégia às suas necessidades individuais.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Existe a possibilidade de cancelamento do plano?</a>
              </h2>

              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Não. Após a confirmação do pagamento, o plano permanece ativo até o término do período de 40 dias, sem a possibilidade de cancelamento ou resgate antecipado.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Quando o rendimento começará a ser creditado?
                </a>
              </h2>

              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Os rendimentos começam a ser creditados automaticamente em sua conta assim que o pagamento do plano é confirmado, com depósitos diários durante o período de 40 dias.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Qual é o tempo total para receber o retorno completo do investimento?
                </a>
              </h2>

              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>O prazo total para o recebimento do retorno completo é de 40 dias corridos. Durante esse período, você receberá diariamente o equivalente a 2 vezes o valor investido inicialmente.</p>
                </div>
              </div>
            </div>
           
          </div>

        </div>
      </div>
    </div>
</div>