<div class="site-section" id="planos-de-investimento">
    <div class="container">
      <div class="row justify-content-center text-center" data-aos="fade-up">
        <div class="col-7 text-center  mb-5">
          <h2 class="section-title">Planos de Investimento</h2>
          <p>
            Na V.A.S, é oferecido uma ampla variedade de planos de investimento, projetados para atender desde iniciantes até investidores experientes, garantimos flexibilidade para que você escolha o plano ideal de acordo com seus objetivos financeiros. 
          </p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
              <table class="table table-bordered table-custom table-striped text-center">
                <thead>
                  <tr>
                    <th>Plano</th>
                    <th>Tempo de Duração*</th>
                    <th>Total para Receber</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>R$ 200,00</td>
                    <td>40 dias</td>
                    <td>R$ 400,00</td>
                  </tr>
                  <tr>
                    <td>R$ 500,00</td>
                    <td>40 dias</td>
                    <td>R$ 1.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 1.500,00</td>
                    <td>40 dias</td>
                    <td>R$ 3.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 3.000,00</td>
                    <td>40 dias</td>
                    <td>R$ 6.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 7.000,00</td>
                    <td>40 dias</td>
                    <td>R$ 14.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 14.000,00</td>
                    <td>40 dias</td>
                    <td>R$ 28.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 25.000,00</td>
                    <td>40 dias</td>
                    <td>R$ 50.000,00</td>
                  </tr>
                  <tr>
                    <td>R$ 50.000,00</td>
                    <td>40 dias</td>
                    <td>R$ 100.000,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center" data-aos="fade-up">
        <div class="col-7 text-center my-3">
          <p>
            * O tempo de duração é o tempo total que seu dinheiro ficará rendendo para obter o valor total, o dobro do valor investido. No entanto, a cada 10 dias é possível realizar o saque do que já rendeu.
          </p>
        </div>
      </div>
      
    </div>
  </div>