<div class="site-section" id="regras-de-saque">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
        <div class="col-9 text-center  mb-5">
          <h2 class="section-title">Regras de Saque</h2>
          <p class="lead">
            Saques na V.A.S são rápidos, fáceis e seguros. Para garantir a melhor experiência, seguimos algumas regras simples. É possível realizar os saques conforme os prazos estabelecidos e utilizando os métodos disponíveis, como PIX e USDT.
          </p>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-money"></span></span>
            </div>
            <div>
              <h3>Saque dos Rendimentos</h3>
              <p>Os saques dos rendimentos dos planos são liberados a cada 10 dias de rendimento.</p>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-clock-o"></span></span>
            </div>
            <div>
              <h3>Horário dos Saques de Rendimento</h3>
              <p>Os saques dos rendimentos dos planos podem ser realizados nos horários entre 9h e 16h.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-block"></span></span>
            </div>
            <div>
              <h3>Taxa de Saque Zero</h3>
              <p>Não é cobrada nenhuma taxa para os saques, tanto dos rendimentos dos planos quanto das indicações.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-usd"></span></span>
            </div>
            <div>
              <h3>Saque Mínimo das Indicações</h3>
              <p>O valor mínimo para saque do dinheiro das indicações é R$ 20,00. Menos do que isso não é permitido.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-monetization_on"></span></span>
            </div>
            <div>
              <h3>Quantidade de Saque das Indicações</h3>
              <p>É possível realizar até 3 saques por dia do dinheiro recebido das indicações, basta alcançar o valor mínimo.</p>
            </div>
          </div>

          
        </div>
        
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"><span class="text-primary icon-clock-o"></span></span>
            </div>
            <div>
              <h3>Horário dos Saques de Indicação</h3>
              <p>Não tem restrição de horário para os saques do dinheiro das indicações, pode ser realizado a qualquer horário.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>