<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
          
          <img src="/assets/images/undraw_stepping_up_g6oo.svg" alt="Image" class="img-fluid img-absolute">

          <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 mr-auto">
              <h1>Compra e Venda de <b>Criptoativos</b></h1>
              <p class="mb-5">
                É uma plataforma de investimento que, através da compra de criptoativos, consegue proporcionar planos de investimento. 
                Esses planos possuem rentabilidade de 5% ao dia, fazendo que seu dinheiro consiga render o dobro em apenas 40 dias. 
                .
              </p>
              <div>
                <a href="https://vas-cripto.com/in/kww2lU77PqSD" target="_blank" class="btn btn-dark mr-2 mb-2">Faça o seu cadastro</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>  